body{
    background-color:lightgrey;
}

header{
    background-color:seagreen;
    padding-left: 50px;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
}

.om-mig{
    text-align: center;
    padding-top: 0.5cm;
    padding-bottom: 0.25cm;
    margin-left: 2cm;
}

.text1 {
    background-color:lightgrey;
    border: 5px solid seagreen ; 
    border-radius: 15px;
    padding: 20px;         
    width: 500px;           
    align-items: center;
    margin-left: 2cm;
    margin-bottom: 0.5cm;
    font-size: large;
    font-weight: 200;
    text-align: left;
}

.kontakt{
    background-color:seagreen;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
}

.mail{
    font-size: 17px;
}

.icon {
    text-align: right;
    padding: 10px;
    padding-right: 50px;
    margin-top: -1.5cm;
}

.github-icon {
    font-size: 40px;            
    color: #000;               
    text-decoration: none;      
    margin: 10px;              
  }

.bild{
    img{
    border-radius: 50%; }
}